.row.section
  .m12.col.center
    .front-banner
      %img{:src => image_path('homepage_slider_1.jpg')}
      %div
        %a.btn-large.black-text.z-depth-3.waves-effect.waves-light{href: "/products"} Shop Now!

  .m12.col.center
    %h1 Modern. Unique. Affordable.
  .m12.col
    %blockquote
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar pretium tortor. Aliquam ut mollis arcu, vitae suscipit magna. Etiam felis mi, consectetur et vulputate imperdiet, finibus in nulla. Nullam ultricies ante eget tortor viverra lobortis. Nulla facilisi. Nullam eu erat vel erat aliquet mollis at a quam. Maecenas in condimentum ante. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam iaculis eu lorem ut elementum. Fusce nec vehicula dui, quis cursus nibh. Pellentesque condimentum lectus ut sem dictum, sed egestas elit finibus. Sed a hendrerit nisl. Cras ornare diam pulvinar malesuada facilisis. Nunc mattis, lacus.
%hr

.row.center.section.detail-section
  .m6.col
    %img.z-depth-3(src='http://www.scotthack.com/wp-content/uploads/2014/01/Dallas-TX-Google-Maps1.png')
  .m6.col
    %h2 Flexible Pickup / Delivery
    %p.flow-text
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis feugiat odio vel dictum. Aliquam consectetur orci non enim malesuada, id porta mi congue. Quisque eu erat vitae ligula consectetur suscipit et quis mi. Vestibulum eget sagittis lacus. Praesent molestie dolor sit amet vehicula tempus. Cras id odio mi. Donec.

.row.center.section.detail-section
  .m6.col
    %h2 Mid-Century Modern Inspired
    %p.flow-text
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis feugiat odio vel dictum. Aliquam consectetur orci non enim malesuada, id porta mi congue. Quisque eu erat vitae ligula consectetur suscipit et quis mi. Vestibulum eget sagittis lacus. Praesent molestie dolor sit amet vehicula tempus. Cras id odio mi. Donec.
  .m6.col
    %img.z-depth-3(src='https://cdn0.vox-cdn.com/uploads/chorus_asset/file/4594685/mcmcomposite.0.jpg')
